<?xml version="1.0"?>
<ruleset name="MoodlePluginCIOverrides">
    <rule ref="Moodle" />

    <!-- Disable the specific sniff: this does not work! excludes are in ci.yml -->
    <exclude name="moodle.NamingConventions.ValidVariableName.VariableNameUnderscore" />

    <!-- Exclude vendor directory -->
    <exclude-pattern>vendor/*</exclude-pattern>
</ruleset>
