{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

<div>
    <div>
        {{#str}} addplaceholders:title, block_exaaichat {{/str}}
    </div>
    <select id="config_placeholder_dropdown" class="form-select" style="width: 75%;">
        <optgroup label="{{#str}} general {{/str}}">
            {{#placeholders}}
                <option value="{{placeholder}}">{{label}}</option>
            {{/placeholders}}
        </optgroup>
        <optgroup label="{{#str}} grades {{/str}}:">
            {{#placeholders_gradebook}}
                <option value="{{placeholder}}" {{#disabled}}disabled{{/disabled}}>{{{spacer}}}{{label}}</option>
            {{/placeholders_gradebook}}
        </optgroup>
    </select>
    <button type="button" id="config_add_placeholder_button" class="btn btn-secondary mt-1" disabled>
        {{#str}} addplaceholders:button, block_exaaichat {{/str}}
    </button>
</div>
